# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
build/
dist/

# OS
.DS_Store
Thumbs.db

# App specific
backend/uploads/
.env
