fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
ecdsa>=0.19.0
httpx
python-multipart
alembic
openai
cognee==0.3.6
qdrant-client
pypdf
python-docx
protego
playwright
pgvector
openpyxl
pandas
python-pptx
unstructured[all-docs]