fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
ecdsa>=0.19.0
httpx
python-multipart
alembic
openai
langchain
langchain-community
langchain-chroma
langchain-text-splitters
langchain-openai
chromadb
qdrant-client
pypdf
python-docx
protego
playwright
pgvector
openpyxl
pandas
python-pptx
unstructured[all-docs]
fastmcp
beautifulsoup4
duckduckgo-search